 
    /* Título principal*/
    h1
    {
      background-color: hsl(156, 50%, 50%);
      color:#000000;
      font-size: 70px;
      font-weight: 100px;
      font-family:'Times New Roman', Times, serif;
      text-align: center;
      }
    /* Sub título*/  
    h2
    {
      color: rgb(247, 0, 255);
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      font-weight: 70px;
      text-align: center;
    }
            
   /*ImagemQuadro*/
    .image-container{
      width: 200px;
      height:200px;
      padding-top: 50px;
      padding-left: 400px;
      padding-right: 50px;
      padding-bottom: 50px;
      border-bottom: 50px;
      border-top: 50px;
      border-left: 50px;
      border-right: 50px;
      border-style:double;
      border-color: rgb(226, 43, 186);
      margin-bottom: 50px;
      margin-top:50px;
      margin-left: 50px;
      margin-right: 50px;
      outline-width: 50px;
      outline-style: groove;
      outline-color: rgb(148, 127, 255);
      margin: auto;
      position: relative;
      text-align:right;
      display: flex;
      justify-content:right;
      position: absolute;
      transform: translate(40%,50%);
     box-shadow: inset 100px 50px 100px 100px blueviolet;
      }
     /*Texto dentro do Quadro*/
      .image-text{ 
      color:#000000;
      font-size: 35px;
      font-family:'Times New Roman', Times, serif;
      margin: auto;
      position:sticky;
    
      }
        /*Nome criação do projeto*/
      p{
        color: rgb(0, 247, 255);
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        height:500px;
        position:fixed;
        }
    